{% extends "root.html" %}{% block setup %}
<title>Crime Scene Reports</title>
{% endblock setup %}{% block content %}
<div id="main">
    <div id="search">
        <form action="{% url "report" %}">
            {% csrf_token %} {{ form.as_p }}
        
            <button>Search Reports</button>
        </form>
    </div>
    <div id="data">
        {% if not filtered_reports%}
            {% for report in all_reports %}
                <div class="data">
                    <p><u>Date</u>: {{ report.date }}</p>
                    <p><u>Location</u>: {{ report.location }}</p>
                    <p><u>Officer</u>: {{ report.officer }}</p>
                    <p><u>Description</u>: {{ report.description }}</p>
                </div>
            {% endfor %}

        {% elif filtered_reports %}
            {% for report in  filtered_reports%}
                <div class="data">
                    <p><u>Date</u>: {{ report.date }}</p>
                    <p><u>Location</u>: {{ report.location }}</p>
                    <p><u>Officer</u>: {{ report.officer }}</p>
                    <p><u>Description</u>: {{ report.description }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
