{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block setup %}{% endblock setup %} {% block styles %} {% endblock %}
    <link rel="stylesheet" href="{% static "styles.css" %}" />
  </head>
  <body>
    <div class="header">
      <a href="{% url "home" %}">Back</a>
    </div>
    {% block content %}{% endblock content %} {% block js %}
    <script>
      src="{% static "script.js" %}"
    </script>
    {% endblock js %}
    <div class="footer"></div>
  </body>
</html>
